.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
.app_icon_p {
    font-size: 15px;
    color: #444;
    line-height: 20px;
    /*text-shadow: 1px 1px 1px rgba(255,255,255,1);*/
}
@media (max-width: 768px) {
    .app_icon_p {
    font-size: 14px;
    color: #444;
    line-height: 20px;
    text-shadow: 1px 1px 1px rgba(255,255,255,1);
    }
}
.top_section {
    /*padding-top: 100px;*/
    color: #fff;
}

.top_section_2 {
    /*padding-top: 100px;*/
    margin-top: 5%;
}

.top_section_3 {
    /*padding-top: 100px;*/
    color: #fff;
    font-size: 16px;
}

.nolook_p2 {
  padding: 150px 0 0 30px;
}

@media (max-width: 992px) {
    .nolook_p2 {
      padding: 0px 0 0 0px;
    }
}

@media (min-width: 768px) {
    .nolook_h3 {
      padding: 0px 0 0 0px;
    }
}

.nolook_img {
  padding: 0px 0 0 30px;
}

 /*alt="" height="100" width="100"*/

.music_min {
  width:100px;
  height:100px;
}

@media (max-width: 768px) {
    .music_min {
      margin-top: 40px;
      width:50px;
      height:50px;
    }
}

.message_min {
  width:100px;
  height:100px;
}

@media (max-width: 768px) {
    .message_min {
      width:50px;
      height:50px;
    }
}

.call_min {
  width: 76px;
  padding: 5px 0 7px 0px;
}

@media (max-width: 768px) {
    .call_min {
  width: 41px;
  /*padding-bottom: 11px;*/
    }
}

.navigation_min {
  width:100px;
  height:100px;
}

@media (max-width: 768px) {
    .navigation_min {
      width:50px;
      height:50px;
    }
}

.apps_min {
  width:100px;
  height:100px;
}

@media (max-width: 768px) {
    .apps_min {
      width:50px;
      height:50px;
    }
}

.email {
    margin-bottom: 20px;
}

.form-control {
    margin-bottom: 20px;
}

.joinus_p {
    color: #fafafa;
}

.nolook_bg {
  padding-top: 50%;
  background-image:url('../common-files/img/nexus_no_look.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.nolook_animation {
  width: 81%;
}

.dm_ticket {
  padding-top: 50px;
  width: 130px;
}

.joinus_h2 {
  background-color:rgba(0,0,0,0.5);
  height: 10%;
}

@media (max-width: 991px) {
    .content-28 .nolook_h3 {
      font-size: 22px;
    }
    .nolook_bg {
      padding-top: 50%;
      background-image:url('../common-files/img/nexus_no_look.png');
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      top: -420px;
      left: 0px;
    }
}



@media (max-width: 740px) {
    .col-xxs {
      width: 100%;
    }
    .xx-nolook {
      width: 50%;
      position: relative;
      top: 10px;
      left: 180px;
    }
      .nolook_bg {
      padding-top: 50%;
      background-image:url('../common-files/img/nexus_no_look2.png');
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      top: -508px;
      left: 136px;
    }
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    font-size: 0;
    }
}

@media (max-width: 600px) {
    .col-xxs {
      width: 100%;
    }
    .xx-nolook {
      width: 50%;
      position: relative;
      top: 10px;
      left: 180px;
    }
        .nolook_bg {
      padding-top: 50%;
      background-image:url('../common-files/img/nexus_no_look.png');
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      top: -508px;
      left: 136px;
    }
}

@media (max-width: 500px) {
    .col-xxs {
      width: 100%;
    }
    .xx-nolook {
      width: 50%;
      position: relative;
      top: 10px;
      left: 180px;
    }
        .nolook_bg {
      padding-top: 50%;
      background-image:url('../common-files/img/nexus_no_look.png');
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      /*top: -431px;*/
      left: 0px;
    }
}
@media (max-width: 467px) {
    .col-xxs {
      width: 100%;
    }
    .xx-nolook {
      width: 50%;
      position: relative;
      top: 10px;
      left: 180px;
    }
        .nolook_bg {
      padding-top: 50%;
      background-image:url('../common-files/img/nexus_no_look3.png');
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      top: -470px;
      left: 0px;
    }
}

@media (max-width: 390px) {
    .col-xxs {
      width: 100%;
    }
    .xx-nolook {
      width: 50%;
      position: relative;
      top: 10px;
      left: 180px;
    }
        .nolook_bg {
      padding-top: 50%;
      background-image:url('../common-files/img/nexus_no_look.png');
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      top: -480px;
      left: 0px;
    }
}

.col-xxs .nolook_bg {
  widht: 50%;
}

@media (max-width: 467px) {
  .hero-unit .top_section {
    font-size: 24px;
  }
}

.image-swap:hover {
background-position: 0 100%;
}



.rj-team {
  padding-top: 1em;
  padding-bottom: 2em; }
  .rj-team:after {
    content: ' ';
    display: table;
    clear: both;
    height: 0; }
  .rj-team .rj-team-member {
    display: block;
    cursor: pointer;
    position: relative;
    float: left;
    width: auto; }
    .rj-team .rj-team-member.placeholder {
      background: #d2d0d0; }
      .rj-team .rj-team-member.placeholder .rj-team-member-label {
        background: #f37621;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 19% 10%;
        height: 100%;
        text-align: center; }
        .rj-team .rj-team-member.placeholder .rj-team-member-label .plus {
          width: 30%;
          margin: 20px 0;
          height: auto; }
        .rj-team .rj-team-member.placeholder .rj-team-member-label span {
          font-size: 1.6em;
          font-weight: 600;
          color: #fff;
          text-transform: uppercase;
          line-height: 1em;
          text-align: center; }
      .rj-team .rj-team-member.placeholder:hover {
        z-index: 2; }
        .rj-team .rj-team-member.placeholder:hover .rj-team-member-label {
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
          opacity: 0.7;
          display: block\0; }
    .rj-team .rj-team-member .rj-team-member-photo {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0; }
    .rj-team .rj-team-member .rj-team-member-photo-rollover {
      display: block;
      width: 100%;
      margin: 0; }
    .rj-team .rj-team-member .rj-team-member-label {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 6% 8%;
      background: white;
      color: black;
      line-height: 1.3;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0;
      display: none\0; }
      .rj-team .rj-team-member .rj-team-member-label span, .rj-team .rj-team-member .rj-team-member-label strong {
        display: block; }
    .rj-team .rj-team-member .rj-team-member-info {
      display: none;
      position: absolute;
      top: 0;
      width: 100%; }

.rj-team .rj-team-member .rj-team-member-info .rj-team-member-info-text {
        position: absolute;
        bottom: 0;
        width: 420px;
        padding: 17px 25px;
        background: #FFB973;
        left: 50%;
        margin-left: -210px;
        color: #555;
        font-size: 14px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 20px;
        /* text-align: left; */
        text-align: left;
        line-height: 24px;
      }

      @media (min-width: 766px) {
        img.rj-team-member-photo {
          pointer-events: none;
          cursor: default;
        }
      }

      @media (max-width: 767px) {
      .rj-team .rj-team-member .rj-team-member-info .rj-team-member-info-text {
        position: absolute;
        bottom: 0;
        width: 420px;
        padding: 17px 25px;
        background: #FFB973;
        left: -9999px;
        margin-left: -210px;
        color: #555;
        font-size: 14px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 20px;
        /* text-align: left; */
        text-align: left;
        line-height: 24px;
      }
      }
        .rj-team .rj-team-member .rj-team-member-info .rj-team-member-info-text:after {
          content: '';
          position: absolute;
          border: 8px solid transparent;
          border-top-color: #FFB973;
          bottom: 0;
          margin-bottom: -16px;
          left: 50%;
          margin-left: -8px; }
    .rj-team .rj-team-member:hover {
      z-index: 2; }
      .rj-team .rj-team-member:hover .rj-team-member-photo {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0; }
      .rj-team .rj-team-member:hover .rj-team-member-label {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=66);
        opacity: 0.66;
        display: block\0; }
      .rj-team .rj-team-member:hover .rj-team-member-info {
        display: block;
        position: absolute;
        top: -4%;
} }
  .rj-team .rj-team-member,
  .rj-team .rj-team-member * {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }

    .everything {
      padding-top: 8%;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 30px;
      color: #999;
      line-height: 61px;
      font-weight: 100;
/* You build your own i: */
    }
    @media screen and (max-width:768px){
    .everything{
      padding-top: 2%;
      font-size: 20px;
      line-height: 25px;
      }
    }

.videoShareButtons {
  width: 100%;
  height: 30px !important;
  padding-top: 5px;
  padding-left: 5px;
  position: absolute;
  list-style:none;
}

#videoShareButtons_footer {
  position:relative;
   overflow:hidden;
}

#videoShareButtons_footer ul {
  list-style:none;
  position:relative;
  padding-left: 0;
   left:50%;
   float:left;
}

#videoShareButtons_footer li {
  position:relative;
   left:-50%;
   float:left;
}
